body {
  background-image: url(https://phonoteka.org/uploads/posts/2022-01/1642653187_29-phonoteka-org-p-odnotonnie-kartinki-dlya-fona-31.jpg);
}

.search-form__container {
  position: relative;
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.search-form__input {
  width: 300px;
  padding: 10px;
  border: none;
  font-size: 16px;
  font-style: italic;
  font-weight: 900;
  font-family: cursive;
  border-radius: 5px;
  box-shadow: 0 25px 28px rgba(15, 4, 81, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.search-form__input:focus {
  outline: none;
  border-bottom-color: #6f9efa;
}

.search-form__btn {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: transparent;

  color: transparent;
}

.container {
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background: rgb(121, 128, 203);
  background: radial-gradient(
    circle,
    rgba(121, 128, 203, 1) 0%,
    rgba(72, 24, 175, 0.5383403361344538) 97%
  );
  box-shadow: 0 25px 28px rgba(15, 4, 81, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-bottom: 10px;
}

.search-form__icon {
  width: 30px;
  height: 30px;
  fill: #0d2f72;
  transition: transform 0.5s ease-in-out;
}
.search-form__icon:hover {
  fill: #6f9efa;
  scale: 120%;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
